1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*        : expression (multiplication operator)
'hello'  : value (string)
-87.8    : value (float)
-        : expression (subtraction operator)
/        : expression (used for multiline, i.e to express values in more than one line)
+        : expression (addition operator) 
6        : value (int)

2. What is the difference between string and variable?

String: It is a data-type where anything assigned to a variable using single/double quotes will be referred as a string.

Variable: It is an identifier wherein some value is stored or assigned. Variable can start only with an alphabet or an underscore. Variable cannot start with a number or any special character.

In [5]:
#example
a='ineuron'
type(a)
# here 'ineuron' is a string where (a) is a variable

str

3. Describe three different data types.

i) String : Values assigned to a variable using single/double quotes will be referred as a string.

In [6]:
a='ineuron'
type(a)

str

ii) Float : Floats are values with decimals.

In [7]:
a=1.618
type(a)

float

iii) Integer : Values which are positive or negative whole numbers without decimal are referred as integer.

In [8]:
a=7
type(a)

int

4. What is an expression made up of? What do all expressions do?

An expression is a cobination of values, variables, operators, and fuction calls that produces or returns some result value.

In [9]:
a=2
b=3
c=a+b
print(c)

5

Here a=2 & b=3 both are expressions with = as an operator and c=a+b is also an expression with + as an operator.

In [10]:
type(6)

int

Here function is used in an expression.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

An expression always produces or returns some result; where statements do not produce any results when evaluated,

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [12]:
bacon=22
bacon+1

23

Variable bacon is set to 22.

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

In [14]:
'spam'+'spamspam'

'spamspamspam'

In [15]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Variable can start only with an alphabet or an undescore; but variable can't start with a number or a special character. Hence eggs is valid variable as it starts with alphabet while 100 is invalid as it starts with a number.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

int() is function to get integer; float() is the function to get floating-point number; str() is function to get string version.

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

Only strings can be combined to other strings with + operator. As 99 is an integer it causes error.
The correct way could be:

In [19]:
'I have eaten '+'99'+' burritos.'

'I have eaten 99 burritos.'